* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}

body {
  margin-left: 11vw;
  margin-right: 11vw;
  display: block;
  align-items: center;
}

  /* inicio header y navegacion  */


 header{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  max-width: 100%;
  background-image: linear-gradient(
    to right,
    black,
    darkred,
    red,
    darkred,
    black
  );
 }

 header a figure {
  justify-content: center;
 }

 header a figure img {
  max-width: 100%;
  border-radius: 50%;

 }

 .logo img {
      max-width: 80px; 
      border-radius: 50%;
    }
  
    nav {
      display: flex;
      justify-content: center;
      width: 100%; 
    }
  
    .nav ul {
      list-style-type: none;
      text-align: center;
      padding: 0;
      margin: 0;
    }

    .nav ul li {
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    .ancla_header {
      position: relative;
      text-decoration: none;
      color: white;
      margin: 0 10px; 
    }

 .logo img {
  max-width: 80px; 
  border-radius: 50%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}


.ancla_header{
  position: relative; 
  text-decoration: none;
  color: white;
  margin: 0px 3vh 0px 3vh;
}

.nav ul {
  list-style-type: none;
  text-align: center;
 }


/* Inicio de animacion */
.ancla_header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
 }
 
 .ancla_header:hover::after {
  width: 100%;
 }

 /* final header y navegacion */

  /* final header */
  
  /* Inicio carrusel */
  .slider {
    max-width: 100%;
    height: 50%;
    margin: 0 ;
    position: relative;
    overflow: hidden; 
    margin-top: 0%;
    background-image: url('./imagenes/fondo_header.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1; 
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); 
    z-index: -1; 
   }
  
  .slides {
    width: 100%;
    height: auto;
    display: flex;
    transition: transform 0.99s ease-in-out;
    margin-top: 1%;
  }
  
  .slide {
    flex: 0 0 100%;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0;
    padding:0;
  }
  
  .slide.active {
    display: block; 
  }
  
  .imagen-slider{
    max-width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 70vh;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; 
    cursor: pointer;
    border-radius: 50%;
    
  }
  
  .slide img:hover {
    transform: scale(1.); 
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
    width: 10%;
    height: 10%;
    background-color: red;
    border-radius: 50px;
    opacity: 0.5;
  }
  
  .next {
    right: 10px;
    width: 10%;
    height:10%;
    background-color: red;
    border-radius: 50px;
    opacity: 0.5;
  }
  
  /* final carrusel */

   /* inicio biografia */
     
   h1, h2, h3 {
    font-family: 'Montserrat', sans-serif; 
    color: #1A1A1A;
    text-align: center;
    text-decoration: none;
  }

  
  p, span {
    font-family: 'Open Sans', sans-serif; 
  }

  p {
    color: #333;
    margin: 5% 5% 5% 5%;
    text-decoration: none;
  }

  /* final biografia */

   /* inicio footer */
   footer {
    margin-top: 5%;
    display: flex;
    margin-left: 4%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    background-image: linear-gradient(
      to right,
      black,
      darkred,
      red,
      darkred,
      black
    );
   }
   
   footer a {
    margin: 0 10px;
   }
   
   footer img {
    width: 30px;
    height: 30px;
   }

   
   /* final footer   */

/* inicio tarjetas en programacion */

.cards{
  display: flex;
  flex-wrap: wrap;

}

.card{
  max-width: 100%;
 }

 .card a img{
  max-width: 100%;
  margin-top: 5%;
 }

 .img-article{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

 .card h2, .card p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
 }

 .card p{
  font-size: small;
  text-decoration: none;
 }

 .card:hover {
  transform: scale(1.05); 
}

 /* fin tarjetas en programacion */

 /* inicio de video  */
 .video-container {
  display: block;
  margin: 0 auto;
  width: 60%; /* Ajusta el ancho según prefieras */
  
}
/* fin de video  */




 /* inicio de clases cada proyecto ( como calc, o java) */

header{
  max-width: 100%;
}

.hero_plantilla img{
  max-width: 100%;
}

div h1 {
  text-align: center;
  overflow: hidden;
  font-size:medium;
 }
 
 .art-proyect-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 
 /* final de clases cada proyecto */

 /* inicio de clases blog  */
 .image-blog1 {
  text-align: center;
}

.image-blog1 img {
  width: 100%; /* La imagen ocupará todo el ancho disponible del contenedor */
  max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
  max-height: 350px; /* Establece una altura máxima para la imagen */
  object-fit: cover; /* La imagen se ajustará dentro de su contenedor sin perder la proporción */
  display: block; /* La imagen se convierte en un bloque para ocupar todo el ancho disponible */
  margin: 0 auto; /* Centra la imagen horizontalmente dentro del contenedor */
}


/* fin clases blog  */

 /* inicio de clases blog2  */
 .blog2-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
 }

 .blog2-left{
  max-width: 100%;
 }

 .blog2-left img{
  max-width: 100%;
 }
 /* fin de clases blog2  */

 /* inicio de clases blog 2 segundo section abajo  */
     /* inicio de clases de blog 2 para left2  */
     .blog2-left2 img{
      max-width: 100%;
      margin-left:0px ;
     }
     /* inicio de clases de blog 2 para left2  */
 /* fin de clases blog 2 segundo section abajo  */

     /* inicio clases creditos */
     .ancla-credits {
      display: flex;
      justify-content: center;
     }
     
     /* fin clases creditos */

     /* inicio clases de mas articulos  */

     /* Estilos para el contenedor principal */
.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  overflow: hidden; 
}

/* Estilos para la imagen de fondo */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5; 
  z-index: -1; 
}

/* Estilos para cada columna */
.column {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 2em; 
}

/* Estilos para los enlaces */
.ancla-credits {
  color: white; 
  margin: 1em 0; 
  position: relative;
  z-index: 1;
  text-decoration: none;
  transition: transform 0.3s ease-in-out; 
}

.ancla-credits p {
  font-size: small;
  text-align: center;
}

/* Estilos adicionales para los enlaces */
.ancla-credits:hover {
  transform: scale(1.4); 
  color: white; 
}

/* Ajuste para la lista vertical */
.ancla-credits {
  display: block; 
  text-align: center; 
  margin: 10px auto; 
}

     
     
     /* fin clases de mas articulos  */


     /* inicio imagen centrada */
     
     .imagen-centrada {
      display: block;        
      margin: 0 auto;        
      max-width: 100%;      
      height: auto;        
    }

    /* final imagen centrada */
    

 /* inicio responsive entre 770px y 1024px */

 @media screen and (min-width: 770px) and (max-width: 1024px) {
  .cards{
    flex-direction: column;
  }


 }



 /* fin responsive entre 770px y 1024px*/

 @media screen and (min-width: 376px) and (max-width: 769px) {
  /* inicio de video  */
  .video-container {
    display: block;
    margin: 0 auto;
    margin-bottom: 10%;
    width: 90%; 
    
  }
  /* fin de video  */
}


 /* inicio de responsive 375px */

 @media screen and (min-width: 375px){

  /* estilos header  */
  header{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    max-width: 100%;
   }
   .logo img {
    max-width: 80px; 
    border-radius: 50%;
  }

  nav {
    display: flex;
    justify-content: center;
    width: 100%; 
  }

  .nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .nav ul li {
    margin-top: 5%;
    margin-bottom: 5%;
  }
 

/* Estilos para las tarjetas */
.card {
  text-align: center; 
  padding: 20px; 
}

.contenedor-card-img {
  display: flex;
  justify-content: center; 
  margin-bottom: 15px; 
}

.contenedor-card-img img {
  max-width: 100%;
  height: auto;
}

.card h2,
.card p {
  margin: 5px 0; /* Espacio entre los elementos */
}
    /* inicio de clases de blog 2 para left2  */
   .blog2-left2 img{
    max-width: 100%;
    margin-left:0px ;
   }
   /* inicio de clases de blog 2 para left2  */
    /* inicio de video  */
 .video-container {
  display: block;
  margin: 0 auto;
  margin-top: 0%;
  width: 60%; /* Ajusta el ancho según prefieras */
  padding-top: 0%;
}
/* fin de video  */
 
 }


 
 /* fin de responsive 375 */

  /* inicio de responsive 425px */

  @media screen and (min-width: 425px) {
    header {
      display: flex;
      flex-direction: column;
      align-items:center;
      max-width: 100%;
      background-image: linear-gradient(
        to right,
        black,
        darkred,
        red,
        darkred,
        black
      );
    }
  
    .logo img {
      max-width: 80px; 
      border-radius: 50%;
    }
  
    nav {
      display: flex;
      justify-content: center;
      width: 100%; 
    }
  
    .nav ul {
      list-style-type: none;
      text-align: center;
      padding: 0;
      margin: 0;
    }

    .nav ul li {
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    .ancla_header {
      position: relative;
      text-decoration: none;
      color: white;
      margin: 0 10px; 
    }
  
    /* Animación */
    .ancla_header::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: white;
      transition: width 0.3s;
    }
  
    .ancla_header:hover::after {
      width: 100%;
    }
    /* inicio de clases de blog 2 para left2  */
   .blog2-left2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
   }
   /* inicio de clases de blog 2 para left2  */
  }
  
   /* fin de responsive 425 */


 /* inicio de responsive en 768 */

 @media screen and (min-width: 768px) {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100% ;
    font-size: 0.8em;
  }
  
  .logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  
  .logo img {
    max-width: 100px;
    height: auto;
  }
  
  .nav {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow-x: auto; 
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
    margin: 0 0 20px 0;
    flex-direction: row;
  }
  
  .nav ul li {
    margin: 0;
    padding: 0;
    white-space: nowrap; 
    display: inline
  }


  
  .ancla_header {
    text-decoration: none;
    color: white;
    margin: 0 15px 0 15px;
  }
  
  
  

  .cards {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    margin: 0 auto; 
    max-width: 1200px; 
    padding: 20px; 
  }
  
  .card {
    flex: 1 1 250px; /* Ancho de cada tarjeta */
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin: 10px; 
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
  }
  
  .card img {
    
    max-width: 300%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card h2,
  .card p {
    margin: 5px;
    text-decoration: none;
  }



  /* inicio de cada proyecto como calc o jaja */

  div h1{
    font-size: large;
  }

  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   

  .art-proyect-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
   }
   
   .art-proyect-item {
    margin: 0 10px;
   }
   
   p{
    text-align:left;
   }

  /* fin cada proyecto como calc o java */

  /* inicio clases blog 768px */
  .content-blog1-inv {
    display: flex; /* Utilizamos flexbox para alinear los elementos horizontalmente */
    flex-direction: row-reverse; /* Invertimos el orden de los elementos, colocando la imagen a la derecha */
  }

  .text-blog1.inv {
    flex: 1; /* Permitimos que el texto ocupe el espacio restante */
    margin-right: 20px; /* Añadimos un margen derecho para separar el texto de la imagen */
  }

  .image-blog1.inv {
    max-width: 50%; /* Establecemos un ancho máximo para la imagen */
    margin-left: auto; /* Centramos la imagen horizontalmente en el contenedor */
  }

  .p-responsively-768{
    margin-left: 15%;
  }
  /* fin clases blog 768px  */

    /* inicio de blog 2 invertidas  */

    /* inicio de clases para section de arriba blog2*/
    .blog2-tittle-img {
      width: 100%;
      height: 100%;
     }
     .blog2-tittle-img {
      width: 100%;
     }
     
     .blog2-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
     }
     
     



     @media only screen and (min-width: 600px) {
      .blog2-container {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      }
     }
     
     @media only screen and (min-width: 900px) {
      .blog2-container {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      }
     }
     
    /* fin de clases para section de arriba blog2 */

     /* inicio de las clases section de abajo blog2 */
     .blog2-container2 {
      display: flex;
      justify-content: space-between;
      padding: 1em;
     }
     
     .blog2-left2 {
      flex: 1;
      padding: 1em;
     }
  
     .blog2-right2 {
      flex: 1;
      padding: 1em;
     }

     .blog2-left2 img{
      width: 100%;
      height: 100%;
      object-fit: cover;
     }

     /* inicio clases para parrafos sencillos de blog2  */
     .blog2-para-text{
      margin-top: 0%;
      margin-bottom: 5%;
     }
     
     /* fin clases para parrafos sencillos de blog2  */
     .blog2-para-text2{
      margin-top: 0%;
      margin-bottom: 0%;
     }
     /* fin de clases para parrafos junto  imagen blog2   */

     /* inicio de clases para parrafos junto  imagen blog2   */
     
     /* fin de las clases section de abajo blog2 */

    /* fin de blog 2 invertidas  */

    /* inicio clases mas articulos  */
    .ancla-credits p{
      font-size:large;
      text-align: center;
     }

     
     /* finclases de mas articulos  */
   }
 

   /* fin responsive por encima de 768 */

   /* inicio de responsive en 1024 */
   @media screen and (min-width: 1024px){
    nav li{
      margin-left: 10%;
      margin-right: 10%;
    }
    nav li a{
      font-size:large ;
    }
    /* inicio de blog.html  */
    .content .image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
     }
     h1{
      font-size: large;
     }
     .p-responsively-768{
      margin-top: 5%;
    }
 
 
 /* inicio de clases para blog invertido */

 .contenedor-blog-invertido.invertido {
  display: flex; /* Flexbox para controlar el diseño */
  flex-direction: row-reverse; /* Invierte el orden: texto a la izquierda, imagen a la derecha */
  align-items: center; /* Alineación vertical */
}

.imagen-blog.invertida {
  flex: 1; /* La imagen ocupa espacio proporcional */
  margin-left: 20px; /* Separación entre el texto y la imagen */
  max-width: 50%; /* Limita la imagen a ocupar la mitad del contenedor */
}

.imagen-blog.invertida img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Ajusta la imagen dentro del contenedor */
  max-width: 100%; /* Asegura que no crezca más allá del contenedor */
  display: block; /* Asegura que no haya espacio adicional */
}

.texto-blog.invertido {
  flex: 1; /* El texto ocupa el espacio restante */
}


/* fin de clases blog invertido  */
     

    /* fin de blog.html  */
    /* inicio de clases de blog 2 para left2  */
   .blog2-left2 img{
    max-width: 100%;
    margin-left:0% ;
   }
   /* inicio de clases de blog 2 para left2  */
   /* inicio de clases de blog 2 para section2 abajo */

   .blog2-para-text{
    margin-top: 2%;
    
  }
  .blog2-left2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .blog2-right2{
    font-size:larger;
  }


   /* fin de clases de blog 2 para section 2 abajo  */

   .footer{
    margin: 0 0 0 0 ;
   }
   }

    /* fin responsive 1024 */
  
   
   /* inicio de clases 1440px  */
   @media screen and (min-width: 1440px){

    .footer{
      max-width: 100%;
      margin-left: 0%;
    }
   /* fin de clases 1440px  */
   /* inicio de clases blog2  */
   .blog2-left2{
    width: 100%;
    height: 100%;
    object-fit: contain;
   }

   .blog2-para-text2{
    margin-top: 15%;
    margin-bottom: 10%;
   }

  }
   











